#app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

input#audio-file {
  display: none;
}

#audio-player-container {
  width: 90%;
  max-width: 500px;
}

#audio-player {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#duration-slider-container {
  border: 1px solid white;
  border-radius: 1rem;
  height: 25px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#duration-slider {
  background-color: red;
  border-radius: inherit;
  height: 100%;
  left: 0;
  position: absolute;
  width: 0;
}

#slider-bubble {
  background: linear-gradient(145deg, #dcdcdc, #a9a9a9);
  border-radius: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: block;
  height: 100%;
  margin-left: auto;
  width: 25px;
}
#slider-bubble[aria-disabled="true"] {
  background: linear-gradient(145deg, #dcdcdc, #a9a9a9);
  cursor: unset;
}
#slider-bubble:hover {
  
}

#song-container {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 6fr 1fr
}

#controls-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding: 0.5rem;
}

#controls-container button {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

#controls-container svg {
  transition: all 0.1s ease-in-out;
}
#play-pause svg {
  height: 2em;
  width: 2em;
}
#play-pause svg:hover,
#fast-forward svg:hover,
#rewind svg:hover {
  transform: scale(1.1);
}
#fast-forward svg:active,
#rewind svg:active {
  transform: scale(0.9);
  transition: all 0.01s ease-in-out;
}

.time-container {
  width: 50px;
}

.time {
  cursor: default;
}

.time.end {
  text-align: right;
}